<!DOCTYPE html>
<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>
<div class="container">
<h1>Главная</h1>

<form method="POST">
    {% csrf_token %}
    <input type="text" name="query" placeholder="Enter search query">

    <label for="rooms">Rooms</label>
    <input id="rooms" type="checkbox" name="rooms" checked>

    <label for="teachers">Teachers</label>
    <input id="teachers" type="checkbox" name="teachers" checked>

    <label for="students">Students</label>
    <input id="students" type="checkbox" name="students" checked>

    <label for="groups">Groups</label>
    <input id="groups" type="checkbox" name="groups" checked>

    <input type="submit" value="Search">
</form>

    {{ rooms }}
    {% for teacher in teachers %}
        <a href='teacher/{{teacher.id}}/'>{{ teachers}}</a>
    {% endfor %}
    {% for group in groups %}
        <a href='group/{{group.id}}/'>{{ groups }}</a>
    {%endfor%}
</div>




</body>
</html>
