<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="card-panel margin_login">
            <form class="form-signin" method="post" action="{% url 'django.contrib.auth.views.login' %}">
                {% csrf_token %}
                    <h4 class="panel-title-1">Логін</h4>
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    {{ form.password.label_tag }}
                    {{ form.password }}
                <div class="text-center">
                    <input type="submit" class="btn btn-default" value="Sign In" />
                </div>
            </form>
        </div>
    </div>
</body>
</html>