{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registration</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <form method="POST" action="">
        {% csrf_token %}
                <div class="radio">
                    <label>
                        <input class="choice" name="account_type" type="radio"  value="student">
                        Student
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input class="choice" name="account_type" type="radio"  value="teacher">
                        Teacher
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input class="choice" name="account_type" type="radio"  value="other">
                        Other
                    </label>
                </div>
                    <div class="form-group">
                        <input type="text" name='username'  placeholder="Username">
                        <div class="error username"></div>
                    </div>
                    <div class="form-group">
                        <input type="email" name='email'  placeholder="Email" >
                        <div class="error email"></div>
                    </div>
                    <div class="form-group" >
                        <input type="password"  name="password" id="password" placeholder="Password">
                        <div class="error password"></div>
                        <input type="password"  name="cfmPassword" id="cfmPassword" placeholder="Confirm password">
                    </div>
                    <div class="user-form student-form" style="display: none;">
                        <input type="text" name="name" placeholder="Name">
                        <div class="error name"></div>
                        <input type="text" name="surname" placeholder="Surname">
                        <div class="error surname"></div>
                        <select name="group">
                                {%  for g in groups %}
                                    <option value="{{ g.id}}">
                                        {% if g.id == group.value.id %}
                                            selected="selected"
                                        {% endif %}
                                        {{g.name|capfirst}}
                                    </option>
                                {% endfor %}
                        </select>
                        <select name="sex">
                            <option value="m">
                               Male
                            </option>
                            <option value="f">
                                Female
                            </option>
                        </select>
                    </div>
                    <div class="user-form teacher-form" style="display: none;">
                        <input type="text" name="first_name" placeholder="Name">
                        <div class="error first_name"></div>
                        <input type="text" name="last_name" placeholder="Surname">
                        <div class="error last_name"></div>
                    </div>
                    <div class="user-form other-form" style="display: none;"></div>
                    <button class="form-submit">Submit</button>

        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{% static 'registration.js' %}"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/additional-methods.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/additional-methods.min.js"></script>

</body>
</html>