.registration-form {
    margin: 20px auto;
    max-width: 350px;
    max-height: 500px;
}
.xs-ava {
    background-size: cover;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    background-position: center;

}
.nav_main_pad{
    padding-left: 16px !important;
}
.margin_for_check{
    margin-top: 8px;
}
.margin_output{
    margin-top: 61px;
    margin-left: 0px !important;
}
.marg_top_search{
    margin-top: 15px !important;
}
.art_disp{
    display: inline-block;
}
.margin_login{

}
/*.margin_btn_reg{*/
    /*margin-left: 51px;*/
    /*margin-top: 20px;*/
/*}*/
.panel-title{
    text-align: center;
}
.panel-title-1{
    text-align: center;
}
.center-input{
    text-align:center;
    margin-top: 22px;
}
.navbar-fixed{
    position: fixed;
}
.parallax-container {
    height: 379px;
}
.parallax-container {
	height: 375px;
}
.search-pos{
	margin-top: -52px;
	padding: 0;
}
[type="checkbox"] + label{
	margin: 19px;
}
.search-pos > nav {
	box-shadow: none !important;
}
.search-output{
    padding: 0;
}
/*.search-output > div {*/
    /*display: none;*/
/*}*/
.radio{
    max-width: 100px;
    display: inline-block;
    margin-left: 10px;
}
.card-image > img {
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 450px;
    max-width: 100%;
}