<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="row">
                <h1 class="text-center">{{ lesson.discipline }}</h1>
            </div>
            <div class="row">
                <h3>Information about teacher :</h3>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <img class="img-responsive" src="/media/{{ lesson.teacher.photo }}">
                </div>
                <div class="col-xs-9">
                    <div class="row">
                    <p> <strong>{{ lesson.teacher.name }} {{ lesson.teacher.surname }}</strong></p>
                    </div>
                    <div class="row">
                        <p>{{ lesson.teacher.info }}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <h3>Information about lesson :</h3>
            </div>
            <div class="row">
                <p>{{ lesson.info }}</p>
                {{ form.info }}
            </div>
            <div class="row">
                <h3>Group name :</h3>
            </div>
            <div class="row">
                <p>{{ lesson.group }}</p>
                {{ form.group }}
            </div>
            <div class="row">
                <h3>Room number :</h3>
            </div>
            <div class="row">
                <p>{{ lesson.room }}</p>
                {{ form.room }}
            </div>
            <div class="row">
                <h3>Time of starting and ending lesson :</h3>
            </div>
            <div class="row">
                <p>{{ lesson.start }} - {{ lesson.end }}</p>
                {{ form.start }}
            </div>
            
            <div class= 'row'>
                <input type="submit" class="btn btn-primary" value="Submit">
            </div>
        </form>
    </div>

    
</body>
</html>
