{% extends "talk/base.html" %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="row white">
            <div class="columns large-12">
                <form method="POST" id="post-form">
                    {% csrf_token %}
                    <div class="fieldWrapper" id="the_post">
                        {{ form.text }}
                    </div>
                    <div id="results"></div>
                    <input type="submit" value="Post" class="tiny button">
                </form>
            </div>
        </div>
    {% endif %}

    <!-- The feed -->
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card-panel" style="height: 700px">
                    <div id="target" style="overflow-x: hidden;overflow-y:scroll;height: 660px;">
                        {% for post in all_posts %}
                            <div id="talk">
                                <small>[{{ post.created | date:"M. d, Y, G:i:s" }}]</small>
                                <span>{{ post.author.student.name }}</span>
                                <span>{{ post.author.student.surname }}</span> : <span>{{ post.text }}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/main.js"></script>
{% endblock %}
