<!DOCTYPE html>
<html>
<head>
    <title>All groups</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
{% if user.is_authenticated %}
        <li><a href="/logout/"><strong>Log out</strong></a></li>
    {% else %}
        <li><a href="/registration/"><strong>Registration</strong></a></li>
        <li><a href="/login/"><strong>Sign up</strong></a></li>
    {% endif %}
    <div class = 'container'>
        <a href="{% url 'index' %}">Home</a>
        <hr>
        <h1 class="text-center">Groups</h1>
        <hr>
        {% for s in groups %}
            <div class="media">
                <div class="media-left">
                    <a href="{% url 'group_detail' s.id %}">
                    {% if s.photo %}
                        <div class="xs-ava" style="background-image: url('/media/{{ s.photo }}');"></div>
                    {% else %}
                        <div class="xs-ava" style="background-image: url('http://tatet.ua/themes/fenix/img/default-user.png')"></div>
                    {% endif %}
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><a href='/group/{{s.id}}/'>{{ s.name }}</a><br></h4>
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
</body>
</html>