<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>all</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>

    {% if user.is_authenticated %}
        <li><a href="/logout/"><strong>Вийти</strong></a></li>
    {% else %}
        <li><a href="/registration/"><strong>Реєстрація</strong></a></li>
        <li><a href="/login/"><strong>Логін</strong></a></li>
    {% endif %}

    <div class = 'container'>
        <a href="{% url 'index' %}"  >Home</a>
        <hr>
        <h1 class="text-center">Our  students</h1>
        <hr>
        {% for s in student %}
        <div class="media">
              <div class="media-left">
                    <a href='/student/{{s.id}}/'>
                        {% if s.photo %}
                            <div class="xs-ava" style="background-image: url('/media/{{ s.photo }}');"></div>
                        {% else %}
                            <div class="xs-ava" style="background-image: url('http://tatet.ua/themes/fenix/img/default-user.png')"></div>
                        {% endif %}
                    </a>
              </div>
            <div class="media-body">
                <h4 class="media-heading"><a href='/student/{{s.id}}/'>{{ s.surname}} {{s.name}}</a><br></h4>
                <h5 class = 'display'>Group:   </h5>{{ s.group }}
            </div>
        </div>
        <hr>
        {% endfor %}
    </div>
</body>
</html>