<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Усі вчителі</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    {% if user.is_authenticated %}
        <li><a href="/logout/"><strong>Log out</strong></a></li>
    {% else %}
        <li><a href="/registration/"><strong>Registration</strong></a></li>
        <li><a href="/login/"><strong>Sign up</strong></a></li>
    {% endif %}

    <div class = 'container'>
    Всього Учителів - {{ all_teachers }}
        <a href="{% url 'index' %}"  >Home</a>
        <hr>
        <h1 class="text-center">Our teachers</h1>
        <hr>
        {% for teacher in teachers %}
            <div class="media">
                  <div class="media-left">
                        <a href='/teacher/{{teacher.id}}/'>
                            {% if teacher.photo %}
                                <div class="xs-ava" style="background-image: url('/media/{{ teacher.photo }}');"></div>
                            {% else %}
                                <div class="xs-ava" style="background-image: url('http://tatet.ua/themes/fenix/img/default-user.png');"></div>
                            {% endif %}
                        </a>
                  </div>
                <div class="media-body">
                    <h4 class="media-heading"><a href='/teacher/{{teacher.id}}/'>{{ teacher.surname}} {{teacher.name}}</a></h4>
                    <h5 class = 'display'>Group:   </h5>{{ teacher.group }}
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
</body>
</html>