<!DOCTYPE html>
<html>
<head>
	<title>Group</title>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
</head>
</head>
<body>
<div class='container'>
 
 <div  class= 'row '>
  <div class='col-xs-3'>	

 	<img class="img-responsive" src="/media/{{ group.photo }}"></img>
 	</div>
 	<div class='col-xs-9'>
 	<h1>{{ group.name}} </h1>
 	</div>
 </div>
 <hr>
 <h2>Info</h2>
 <hr>
 <div class= 'row'>
 	<h3>Director:</h3>
 		<p>{{group.teacher}}</p>
 </div>
 <div class= 'row'>
 	<h3>Members:</h3>
 		{% for s in student %}
 			<a href='/student/{{s.id}}/'>{{s.surname}} {{s.name}}</a><br>
 		{% endfor %}
 </div>
 <div class= 'row'>
 	<h3>More about group</h3>
 		<p>{{ group.info}}</p>
 </div>
<h4>To edit this page, please click <a href="{% url 'group_detail_edit' group_id=group.id %}"><span>here</span></a></h4>
 </div>

</body>
</html>