<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Головна</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<!-- NAV_START -->
<nav>
    <div class="nav-wrapper container">
        <a href="{% url 'index' %}" class="brand-logo">Logo</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'all_school' %}">Учні</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Вийти</a></li>
            {% else %}
                <li><a href="{% url 'registration' %}">Реєстрація</a></li>
                <li><a href="{% url 'login' %}">Логін</a></li>
            {% endif %}
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="{% url 'all_school' %}">Учні</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Вийти</a></li>
            {% else %}
                <li><a href="{% url 'registration' %}">Реєстрація</a></li>
                <li><a href="{% url 'login' %}">Логін</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
<!-- NAV_END -->

<!-- PARALLAX_START -->
<div class="parallax-container">
    <div class="container">
        <!-- <h1 class="right-align">Lorem</h1>
        <h3 class="right-align">Lorem</h3> -->
    </div>
    <div class="parallax">

        {% for b in banners%}
    {#    Height   375px   Це для зміни банера через адмінку      #}
            <img class="responsive-img" src="/media/{{ b.photo }}">
        {% endfor %}
    </div>
</div>
<!-- PARALLAX_END -->

<!-- SEARCH_START -->
<div class="container">
    <div class="row">
        <form method="POST">
            {% csrf_token %}
            <div class="col offset-l1 l10 s12 white">
                <div class="card-panel search-pos">
                    <nav>
                        <div class="nav-wrapper">
                            <form>
                                <div class="input-field">
                                    <input id="search" type="search" required name="query">
                                    <label for="search"><i class="material-icons">search</i></label>
                                    <button type="submit" class="search-btn waves-effect waves-red hide-on-small-only">search</button>
                                </div>

                            </form>
                        </div>
                    </nav>
                    <div class="center">
                        <input id="rooms" type="checkbox" name="rooms" checked>
                        <label for="rooms">Кабінети</label>
                        <input id="teachers" type="checkbox" name="teachers" checked>
                        <label for="teachers">Вчителі</label>
                        <input id="students" type="checkbox" name="students" checked>
                        <label for="students">Учні</label>
                        <input id="groups" type="checkbox" name="groups" checked>
                        <label for="groups">Класи</label>
                    </div>
                    <!-- <input type="submit" value="Search"> -->
                </div>
            </div>
        </form>
        <div class="col offset-l1 l10 s12 white">
            <div class="card-panel search-output" style="display: none" id="content_div">
                <div class="collection">
                    {% for room in rooms %}
                        <a id="to_check" href="rooms/{{ room.id }}/" class="collection-item">
                            Кабінет №{{ room.number }}
                        </a>
                    {% endfor %}
                    {% for teacher in teachers %}
                        <a id="to_check" href='teacher/{{teacher.id}}/' class="collection-item">
                            {{ teacher.surname}} {{ teacher.name}}
                        </a>
                    {% endfor %}
                    {% for group in groups %}
                        <a id="to_check" href='group/{{group.id}}/' class="collection-item">
                            {{ group.name }}
                        </a>
                    {%endfor%}
                    {% for student in students %}
                        <a id="to_check" href="student/{{student.id}}/" class="collection-item">
                            {#                        http://stackoverflow.com/questions/890051/how-do-i-generate-circular-thumbnails-with-pil#}
                            <span class="title">{{ student.surname }} {{ student.name }} </span>
                        </a>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SEARCH_END-->

<!-- NEWS_START -->
<div class="container">
    <div class="row">
        <div class="col offset-l4 l4">
            {% if request.user.is_superuser %}
                <div class="card-panel">
                    <div class="panel-title" style="margin: -20px;">
                        <h3 style="display: inline-block">Новини</h3>
                        <a href="{% url 'new_article' %}" class="btn-floating btn-large waves-effect waves-light red"
                           style="margin: -20px;position: relative;top: -11px;left: 24px;">
                            <i class="material-icons">add</i>
                        </a>
                    </div>
                </div>
            {% else %}
                <div class="panel-title" style="margin: 20px;">
                    <h3 style="display: inline-block">Новини</h3>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="container" style="margin-top: -25px;">
    <div class="row">
        {% for article in articles %}
            <div class="col l6 m12 s12">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        {% if article.photo %}
                            <img class="activator responsive-img" src="/media/{{ article.photo }}">
                        {% else %}
                            <img class="activator responsive-img" src="http://placehold.it/1350x1150">
                        {% endif %}
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">
                            <h4 style="display: inline-block">{{ article.title }}</h4>
                            <p class="flow-text" style="display: inline-block"> by {{ article.author }}</p>
                            <i class="material-icons right">more_vert</i></span>
                        <p><a href='articles/{{article.id}}/'>Читати</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">
                            <h4 style="display: inline-block">
                                {{ article.title }}
                            </h4>
                            <p style="display: inline-block"> {{ article.date }}</p>
                            <i class="material-icons right">close</i>
                        </span>
                        <p class="flow-text" style="display: inline-block">{{ article.text }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<!-- NEWS_END -->

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
<script>
    $(document).ready(function(){
        $('.parallax').parallax();
    });
</script>
<script>
    $(document).ready(function(){
        if ($("#to_check").html().length > 0) {
            $('#content_div').show('clip');
        }
    });
</script>
<script>
    $(".button-collapse").sideNav();
</script>
</body>
</html>
