<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
</head>

<div class="container">

<h1>Главная</h1>
<a href="{% url 'all_student' %}"  >All students</a>
<a href="{% url 'all_teachers' %}">All teachers</a>
<form method="POST">
    {% csrf_token %}
    <input type="text" name="query" placeholder="Enter search query">

    <label for="rooms">Rooms</label>
    <input id="rooms" type="checkbox" name="rooms">

    <label for="teachers">Teachers</label>
    <input id="teachers" type="checkbox" name="teachers">

    <label for="students">Students</label>
    <input id="students" type="checkbox" name="students">

    <label for="groups">Groups</label>
    <input id="groups" type="checkbox" name="groups">

    <input type="submit" value="Search">
</form>

    {% for room in rooms %}
        <a href="rooms/{{ room.id }}/">Room:{{ room.number }}</a><br>
    {% endfor %}
    {% for teacher in teachers %}
        <a href='teacher/{{teacher.id}}/'>{{ teacher.surname}} {{ teacher.name}}</a><br>
    {% endfor %}
    {% for group in groups %}
        <a href='group/{{group.id}}/'>{{ group.name }}</a><br>
    {%endfor%}
    {% for student in students %}
        <a href='student/{{student.id}}/'>{{ student.surname }} {{ student.name }}</a><br>
    {%endfor%}
</div>
</body>
</html>
