<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<title>room</title>
</head>
<body>
    {% if user.is_authenticated %}
        <li><a href="/logout/"><strong>Вийти</strong></a></li>
    {% else %}
        <li><a href="/registration/"><strong>Реєстрація</strong></a></li>
        <li><a href="/login/"><strong>Логін</strong></a></li>
    {% endif %}

<a href="{% url 'index' %}"  >Home</a>
    {% for day in week %}
        <h1>Day {{ forloop.counter }}</h1>
        {% for lesson in day %}
            <a href="{% url 'lesson_detail' lesson_id=lesson.id %}"><span>{{ lesson }}</span></a><br/>
        {% endfor %}
    {% endfor %}


    {% for lesson in lessons %}
        <hr/>
        {% if lesson.is_now %}
            <div class="alert alert-info" role="alert">
        {% else %}
            <div class="alert alert-warning">
        {% endif %}
                <div class="row"><div class="col-xs-12">{{ lesson.teacher }}</div></div>
                <div class="row"><div class="col-xs-12">{{ lesson.group }}</div></div>
                <div class="row"><div class="col-xs-12">{{ lesson.start }}-{{ lesson.end }}</div></div>
            </div>
    {% endfor %}
</body>
</html>