<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Teacher</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<!-- NAV_START -->
<nav>
    <div class="nav-wrapper container">
        <a href="{% url 'index' %}" class="brand-logo">Logo</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'all_school' %}">Учні</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Вийти</a></li>
            {% else %}
                <li><a href="{% url 'registration' %}">Реєстрація</a></li>
                <li><a href="{% url 'login' %}">Логін</a></li>
            {% endif %}
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="{% url 'all_school' %}">Учні</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Вийти</a></li>
            {% else %}
                <li><a href="{% url 'registration' %}">Реєстрація</a></li>
                <li><a href="{% url 'login' %}">Логін</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
<!-- NAV_END -->
<div class="container-fluid mrg-top-15">
    <div class="row">
        <div class="col s12 m12">
            <div class="card">
                <div class="card-image mrg-top-15">
                    <div class="row">
                        <div class="col s12">
                            {% if student.photo %}
                                <div class="xs-ava circle z-depth-3" style="background-image: url('{{ MEDIA_URL }}{{ student.photo }}')"></div>
                            {% else %}
                                <div class="xs-ava circle z-depth-3" style="background-image: url('http://tatet.ua/themes/fenix/img/default-user.png');"></div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <div class="row" style="text-align: center">
                        <h4>{{ student.surname }} {{ student.name }}</h4>
                        <p class="grade"> Середній бал : {{ avgmark }}</p>
                    </div>
                    <div class="divider"></div>
                    <div class="row" style="text-align: center">
                        <h5>Дата народження : {{ student.birthdate }}</h5>
                        <h5>Клас: {{ student.group }}</h5>
                        <h5>Середні оцінки : </h5>
                        <table class="centered" >
                            <thead>
                            <tr>
                                <th data-field="id">Назва предмету</th>
                                <th data-field="name" style="width: 50%">Оцінка</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for key, value in all_discipline_marks.items %}
                                <tr>
                                    <td>{{ key }}</td>
                                    <td>{{ value }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <h5>Інформація про учня : </h5>
                    </div>
                    <div class="row">
                    <form id="save" method="POST">
                        {% csrf_token %}
                        <p id="msg">{{ student.info }}</p>
                        <input id="{{ student.id }}" type="text" name="editText" value="{{ student.info }}" style="display:none">
                        <input type="submit" value="Save"></input>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
<script>
    $(".button-collapse").sideNav();
</script>
<script type="text/javascript">
    $('#msg').click(function() {
        $(this).hide();
        var editInput = $('input[name=editText]');
        editInput.show();
        // var saveButton = $('#save');
        // saveButton.show();
        var infoSave = editInput.val();
    });

    $('#save').submit(function() {
        var studentId = $(this).prev().attr('id');
        var newStudentInfo = $(this).prev().attr('value');
        console.log(studentId);
        $.ajax({
            method: "POST",
            url: '/student/' + studentId + '/edit/',
            data: {
                newInfo: newStudentInfo,
                id: studentId
            }
        }).done(function(response){
            console.log(response);
        }).fail(function(error){
            console.log(error);
        });
    });
</script>
</body>
</html>